# Dictionary

In [2]:
my_dictionary = {}

In [3]:
type(my_dictionary)

dict

In [4]:
len(my_dictionary)

0

In [7]:
my_dictionary = {'name':'umair'}
#                 key : value

In [8]:
my_dictionary

{'name': 'umair'}

In [9]:
my_dictionary = {'name':'umair', 'age':18, 'degree':'intermediate'}

In [13]:
for k in my_dictionary.keys():
    print(k)

name
age
degree

In [14]:
for k in my_dictionary.values():
    print(k)

umair
18
intermediate

In [16]:
for k,v in my_dictionary.items():
    print(k, v)

name umair
age 18
degree intermediate

In [17]:
my_dictionary['age']

18

In [11]:
100 in [1,2,3,4,5,100]

True

In [14]:
#list in list 
#tupple in tupple
#dictionary in list

#tupple in tupple
#list in tupple
#dictionary in tuple

#dictionary in dictionary
#list in dictionary
#tupple in dictionary

# List in List

In [17]:
a = [1,2,3]
b = [5,6,7]
c = [8,9,0,a, b]
c

[8, 9, 0, [1, 2, 3], [5, 6, 7]]

In [23]:
c[3][2] #list main se delete aur add kar sakte hain lekin tupple se nhi

6

# tuple in list

In [22]:
a = 2,3,4
b = 4,5,6,7,8
c = [1,2,a,b]
c

[1, 2, (2, 3, 4), (4, 5, 6, 7, 8)]

In [24]:
del c[2]

In [25]:
c

[1, 2, (4, 5, 6, 7, 8)]

# dictionary in list

In [2]:
 my_dictionary = {'name':'umair', 'age':18, 'degree':'intermediate'}

In [3]:
 my_dictionary

{'name': 'umair', 'age': 18, 'degree': 'intermediate'}

In [5]:
aa = [1, 3, 4, my_dictionary]

In [6]:
aa

[1, 3, 4, {'name': 'umair', 'age': 18, 'degree': 'intermediate'}]

# Dictionary in Dictionary

In [30]:
adict = {'name':'Pakistan'}
adit

NameError: name 'adit' is not defined