# LIST

In [3]:
y = [4, 7, 55, 66] #list
y

[4, 7, 55, 66]

In [4]:
name = ['umair', 'salman', 'hamza'] 
name

['umair', 'salman', 'hamza']

In [6]:
z=['karachi', 44 , 56]
z

['karachi', 44, 56]

In [8]:
fruits = ['apple', 'banana', 'watermelon', 'cherry'] #index=position of each member 0  1  2  3
fruits[3]

'cherry'

In [10]:
len(fruits) #to find number of members in list

4

In [11]:
del fruits[1] #to delete member of list "implace delete" cannot recover
fruits

['apple', 'watermelon', 'cherry']

In [18]:
fruits.remove('cherry') #remove function
fruits

['apple']

In [19]:
fruits

['apple']

In [20]:
fruits[0] = 'mango' #update or replace
fruits

['mango']

In [21]:
fruits.append('apple') #for adding the value this is add by default at the last
fruits

['mango', 'apple']

In [23]:
fruits.insert(0, 'grapes') #to add value at particular position
fruits

['grapes', 'grapes', 'mango', 'apple']

In [24]:
fruits.insert(10, 'orange')
fruits

['grapes', 'grapes', 'mango', 'apple', 'orange']

In [26]:
fruits.index('orange')

4

In [29]:
fruits

['grapes', 'grapes', 'mango', 'apple', 'orange']

In [31]:
fruits.insert(5, 'pears')
fruits

['grapes', 'grapes', 'mango', 'apple', 'orange', 'pears']

In [32]:
fruits.count('grapes') #count any member how many times repeated

2

In [38]:
a =[2, 3, 4, 5, 6, 7, 8, 8, 9] #sort decendingy
a.sort(reverse=True)
a

[9, 8, 8, 7, 6, 5, 4, 3, 2]

In [39]:
random = [22, 33, 44, 55, 66, 77]
random.reverse() #reverse list without sorting
random

[77, 66, 55, 44, 33, 22]

In [40]:
b = random #pass by reference (both are refer to same address)
b

[77, 66, 55, 44, 33, 22]

In [41]:
random.append(120)
print(random)

[77, 66, 55, 44, 33, 22, 120]

In [42]:
print(b)

[77, 66, 55, 44, 33, 22, 120]

In [43]:
b.append('umm')
b

[77, 66, 55, 44, 33, 22, 120, 'umm']

In [44]:
random

[77, 66, 55, 44, 33, 22, 120, 'umm']

In [45]:
c = random.copy()
c

[77, 66, 55, 44, 33, 22, 120, 'umm']

In [46]:
c.append('umai')
c

[77, 66, 55, 44, 33, 22, 120, 'umm', 'umai']

In [47]:
random

[77, 66, 55, 44, 33, 22, 120, 'umm']

In [48]:
#python docmentation search karna hai...

In [66]:
poppedelement = random.pop() #sab se last wala member nikal jay ga

IndexError: pop from empty list

In [50]:
random

[77, 66, 55, 44, 33, 22, 120]

In [67]:
poppedelement

77

In [71]:
oldlist = [24, 44, 55, 66, 77, 88]

In [72]:
newlist = []

In [87]:
oldlist.pop()

IndexError: pop from empty list

In [82]:
newlist.append(oldlist.pop())

In [83]:
newlist

[77, 55, 24]

In [84]:
# make a to do list and use pop functon for performed tasks

In [88]:
newlist

[77, 55, 24]

In [89]:
newlist.pop(1)

55

In [90]:
newlist

[77, 24]

In [92]:
#do we pop the value by the name?

 # SLICING

In [93]:
alist = [10,9,87,5,4,3,2,1,6]
#index= [0  1 2  3 4 5 6 7 8]
alist[4]

4

In [94]:
alist[2:5]

[87, 5, 4]

In [95]:
alist[2:]

[87, 5, 4, 3, 2, 1, 6]

In [96]:
alist[ :6]

[10, 9, 87, 5, 4, 3]

In [97]:
#slicing always be left to right

In [100]:
alist[5:2] #error nhi aata slicing main

[]

In [101]:
student=['asad', 'fahad', 'salman', 'uzair']
#index    -4      -3       -2        -1

In [102]:
student[-1]

'uzair'

In [103]:
student[-3]

'fahad'

In [104]:
student[-3:]

['fahad', 'salman', 'uzair']

In [105]:
student[-3:-1]

['fahad', 'salman']

In [106]:
student[-3:4]

['fahad', 'salman', 'uzair']

In [107]:
student

['asad', 'fahad', 'salman', 'uzair']

In [108]:
student[-3:1]

[]

In [109]:
student[-3:2]

['fahad']

# Tuples

In [110]:
a = (1,2,3,4,5,6) #identification of tuples are braces

In [111]:
a

(1, 2, 3, 4, 5, 6)

In [112]:
#tuple values are unchangable

In [113]:
a[2]

3

In [114]:
a[3]=232 #show erroe bcz it can't change or replace the values

TypeError: 'tuple' object does not support item assignment

In [119]:
a = 2,3,4 #tuple can be written without brace this is called 'packing'

In [120]:
a

(2, 3, 4)

In [121]:
x,y,z = a #unpacking

In [125]:
a

(2, 3, 4)

# list in list tuple etcetc

In [126]:
listInList = [2,3,4,['apple','orange','banana']]

In [127]:
listInList

[2, 3, 4, ['apple', 'orange', 'banana']]

In [128]:
listInList[3][1]

'orange'

In [129]:
listInList[3][1]='aalo'

In [130]:
listInList[3]

['apple', 'aalo', 'banana']

In [131]:
listInList[3][0]='eggs'

In [132]:
listInList

[2, 3, 4, ['eggs', 'aalo', 'banana']]

In [133]:
listInList[3][0]

'eggs'

In [134]:
listInList.insert(0,'apple')

In [135]:
listInList

['apple', 2, 3, 4, ['eggs', 'aalo', 'banana']]

In [136]:
listInList[4].insert(0,'apple')

In [137]:
listInList

['apple', 2, 3, 4, ['apple', 'eggs', 'aalo', 'banana']]

In [138]:
listInList[4].remove('aalo')

In [139]:
listInList

['apple', 2, 3, 4, ['apple', 'eggs', 'banana']]

In [142]:
alist = [2,3,4('a','b')]

TypeError: 'int' object is not callable