# FOR LOOP

In [1]:
students = ['hamza','umair','shazy', 'ammad','saqib']

In [2]:
print(students)

['hamza', 'umair', 'shazy', 'ammad', 'saqib']

In [3]:
for student in students:
    print(student)

hamza
umair
shazy
ammad
saqib

In [5]:
for student in students:
    if student == 'umair':
        print(f'{student} get out')
    else:
        print(f' {student} a jao')

 hamza a jao
umair get out
 shazy a jao
 ammad a jao
 saqib a jao

In [6]:
for student in students:
    if student == 'shazy':
        print(f'{student} dafa ho ja')
    else:
        print(f'{student} aa jao')

hamza aa jao
umair aa jao
shazy dafa ho ja
ammad aa jao
saqib aa jao

In [7]:
for a in 'pakistan':
    print(a, end = ' ')

p a k i s t a n

In [10]:
for a in 'pakistan':
    print(a)

p
a
k
i
s
t
a
n

In [11]:
for num in range(10):
    print(num , end = ' ')

0 1 2 3 4 5 6 7 8 9

In [12]:
for num in range(1,10):
    print(num , end = ' ')

1 2 3 4 5 6 7 8 9

In [17]:
tableNum = int(input('please input table number: '))

for num in range(1,11):
    print(f'{tableNum} * {num} = {tableNum*num}')

please input table number: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [19]:
shirtprice = int(input('price of shirt: '))

for num in range(1,11):
    print(f'{shirtprice*num}')

price of shirt: 500
500
1000
1500
2000
2500
3000
3500
4000
4500
5000

In [21]:
for num in range(0,25,2):
    print(num, end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24

In [22]:
for num in range(0,25,1):
    print(num, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24

In [24]:
for num in range(25,0,-1):
    print(num, end=' ')

25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [32]:
tableNum = int(input('please input table number: '))

for num in range(1,10):
    if num % 2 == 0:
        break
    else:
        print(f'{tableNum} * {num} = {tableNum*num}')

please input table number: 2
2 * 1 = 2

In [18]:
best_friend = [] # working


for num in range(10):
    name = input('Enter a friend name: ')
    if name.startswith('a'):
        best_friend.append(name)
print(best_friend)

Enter a friend name: ali
Enter a friend name: anees
Enter a friend name: umair
Enter a friend name: uzair
Enter a friend name: azhar
Enter a friend name: kamran
Enter a friend name: shazy
Enter a friend name: ammad
Enter a friend name: imran
Enter a friend name: salman
['ali', 'anees', 'azhar', 'ammad']

# for nested loop

In [15]:
for num in range(2,11):
    for b in range(1,11):
        print(f'{num}*{b} = {num*b}')
    print('\n')

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20


3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
3*10 = 30


4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
4*10 = 40


5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50


6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
6*10 = 60


7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
7*10 = 70


8*1 = 8
8*2 = 16
8*3 = 24
8*4 = 32
8*5 = 40
8*6 = 48
8*7 = 56
8*8 = 64
8*9 = 72
8*10 = 80


9*1 = 9
9*2 = 18
9*3 = 27
9*4 = 36
9*5 = 45
9*6 = 54
9*7 = 63
9*8 = 72
9*9 = 81
9*10 = 90


10*1 = 10
10*2 = 20
10*3 = 30
10*4 = 40
10*5 = 50
10*6 = 60
10*7 = 70
10*8 = 80
10*9 = 90
10*10 = 100

# list comprehension

In [1]:
a=[1,2,3,4,5,6,7]
squares=[]
for num in a:
    squares.append(num**2)
squares

[1, 4, 9, 16, 25, 36, 49]

In [3]:
[ num**2 for num in range(1,10) if num>4]

[25, 36, 49, 64, 81]

In [4]:
[ num**2 for num in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]