# list

In [1]:
fruits = ['mango', 'banana', 'orange', 'apple', 'cherry']
fruits

['mango', 'banana', 'orange', 'apple', 'cherry']

In [2]:
len(fruits)

5

In [3]:
fruits[3]

'apple'

In [4]:
del fruits[0]
fruits

['banana', 'orange', 'apple', 'cherry']

In [5]:
fruits.remove('cherry')
fruits

['banana', 'orange', 'apple']

In [6]:
fruits.insert(0,'strawberry')
fruits

['strawberry', 'banana', 'orange', 'apple']

In [7]:
fruits.append('guavas')
fruits

['strawberry', 'banana', 'orange', 'apple', 'guavas']

In [8]:
fruits.index('guavas')

4

In [9]:
fruits.count('guavas')

1

In [10]:
a = [2,3,8,5,6,7,4,9]
a.sort(reverse=True)
a

[9, 8, 7, 6, 5, 4, 3, 2]

In [11]:
b = [11,22,33,44,55,88,77,66,99]
b.reverse()
b

[99, 66, 77, 88, 55, 44, 33, 22, 11]

In [12]:
c = b.copy()
c

[99, 66, 77, 88, 55, 44, 33, 22, 11]

In [13]:
c.append('umair')
c

[99, 66, 77, 88, 55, 44, 33, 22, 11, 'umair']

In [14]:
poppedelement = c.pop()

In [15]:
c

[99, 66, 77, 88, 55, 44, 33, 22, 11]

In [16]:
oldlist= [2,4,5,7,80,9]

In [17]:
newlist=[]

In [18]:
oldlist.pop()

9

In [19]:
oldlist

[2, 4, 5, 7, 80]

In [20]:
newlist.append(oldlist.pop())

In [21]:
newlist

[80]

In [22]:
students = ['umair','uzair','anees','kamran']

In [23]:
students.pop()

'kamran'

In [24]:
students.remove('uzair')

In [25]:
students

['umair', 'anees']

In [26]:
newstudent=[]

In [27]:
poppedelement

'umair'

In [28]:
newstudent.append(poppedelement)

In [29]:
newstudent

['umair']

In [30]:
nlist = [2,3,4,'mango','banana','orange','strawberry']
nlist

[2, 3, 4, 'mango', 'banana', 'orange', 'strawberry']

In [31]:
len(nlist)

7

In [32]:
nlist.append('mango')
nlist

[2, 3, 4, 'mango', 'banana', 'orange', 'strawberry', 'mango']

In [33]:
nlist.count('mango')

2

In [34]:
nlist

[2, 3, 4, 'mango', 'banana', 'orange', 'strawberry', 'mango']

In [35]:
del nlist[4]
nlist

[2, 3, 4, 'mango', 'orange', 'strawberry', 'mango']

In [36]:
nlist.insert(3,'jaamun')
nlist

[2, 3, 4, 'jaamun', 'mango', 'orange', 'strawberry', 'mango']

In [37]:
nlist.remove('mango')
nlist

[2, 3, 4, 'jaamun', 'orange', 'strawberry', 'mango']

In [38]:
nlist.index('jaamun')

3

In [39]:
nlist.pop(1)
nlist

[2, 4, 'jaamun', 'orange', 'strawberry', 'mango']

In [40]:
nlist[2:4]

['jaamun', 'orange']

In [41]:
nlist

[2, 4, 'jaamun', 'orange', 'strawberry', 'mango']

In [42]:
del nlist [2]

In [ ]:
nlist

[2, 4, 'orange', 'strawberry', 'mango']

In [ ]:
nlist.remove('strawberry')
nlist

[2, 4, 'orange', 'mango']

In [ ]:
tasks = ['python practise', 'test peparation', 'book reads', 'performing namaz']
tasks

['python practise', 'test peparation', 'book reads', 'performing namaz']

In [ ]:
tasks.index('python practise')

0

In [ ]:
task_accomplished = []

In [ ]:
if tasks.pop(0):
    task_accomplished = tasks.pop(0)

In [ ]:
task_accomplished

'test peparation'

In [ ]:
tasks[0]

'book reads'

In [ ]:
kaam = ['namaz parhni', 'football khelna']
kaam

['namaz parhni', 'football khelna']

In [ ]:
kaam[0]

'namaz parhni'

In [ ]:
kaam_karliye = []

In [ ]:
kaam.pop(0)

'namaz parhni'

In [ ]:
kaam_karliye = kaam.pop(0)

In [ ]:
kaam_karliye

'football khelna'

In [ ]:
kam_kiye = []

In [ ]:
kam_kiye.append(kaam_karliye)

In [ ]:
kam_kiye

['football khelna']

In [ ]:
nnnlist = [2,3,4,6]
nnnlist

[2, 3, 4, 6]

In [ ]:
len(nnnlist)

4

In [ ]:
to_do_list = {"email": "google", "account":"Gmail"}
to_do_list

{'email': 'google', 'account': 'Gmail'}

In [ ]:
customer_007 = {"name":"bond", "job":"detective","status":"good detective"}
customer_007

{'name': 'bond', 'job': 'detective', 'status': 'good detective'}

In [ ]:
for k in customer_007.keys():
    print(k)

name
job
status

In [ ]:
customer_007["job"]

'detective'

In [ ]:
cleanest_cities = ['lahore', 'islamabad', 'makkah', 'madina']

In [ ]:
for clean_city in cleanest_cities:
    if clean_city == 'lahore':
        print(f'wow {clean_city} thats great')
    else:
        print(f'{clean_city} keep them clean')

wow lahore thats great
islamabad keep them clean
makkah keep them clean
madina keep them clean

In [ ]:
total_earning = int(input('tell me your total earning: '))
no_of_employees = int(input('no of employees: '))
print(f' {total_earning/no_of_employees}')

In [ ]:
name = input('tell me your name: ').lower()
if name == 'areeba':
    print(f'chal nikal moti kahin ki')
if name == 'asma':
    print(f'tu apna naak tou chota kar na')

In [1]:
f_name = input("enter first name: ")
m_name = input("enter middle name: ")
l_name = input("enter last name: ")

def my_name(f_name,m_name,l_name):
    my_full_name = f_name + m_name + l_name
    print(my_full_name)
    
my_name(f_name,m_name,l_name)

enter first name: um
enter middle name: ai
enter last name: r
umair